header{
    background-color: #B2F0D2;
    height: 150px;
}

#logo{
    margin-left: 25px;
    margin-top: 25px;
    width: 20%;
}

ul.clase_ul{
    margin-top: 0px;
    list-style: none;
    text-align: center;
}

li{
    display: inline;
    margin-right: 30px;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

body{
    margin: 0;
}

#perro{
     width: 60%;
     height: auto;
     display: block;
     margin: auto;
     padding-top: 20px;
     padding-bottom: 50px;
}

nav{
    background-color:#8DEABD; 
}

nav p{
    display: inline;
    margin-right: 150px;
    color: white;
    font-weight: bolder;
    font-size: 22;
}

#parrafitos{
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}

th{
    width: 600px;
    padding-left: 50px;
}

#th_der{
    text-align: right;
}

#th_der hr{
    width: 50px;
    border-right: 0px;
    margin-right: 0px;
}

#th_izq{
    text-align: left;
}

#th_izq hr{
    width: 50px;
    border-left: 0px;
    margin-left: 0px;
}

section{
    margin-top: 50px;
}

#crowd{
    width: 30%;
}

#rescate{
    width: 40%;
}

table{
    margin: 0 auto;
}

.titulo{
    font-size: 22px;
    margin-bottom: 1px;
}

.subt{
    color: grey;
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 25px;
}

#descripcion1{
    color: grey;
}

#descripcion2{
    padding: 15px 0 30px 0;
}

#camp{
    color: black;
    background-color: white;
    border: 3px solid black;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

footer{
    background-color: #EAEAEA;
    width: 100%;
    height: 5%;

}

.fab{
    color: 8DEABD;
    background-color:white;
    padding: 15px;
    border:1px solid white;
    border-radius: 100px;
    margin-right: 20px;
    font-size: 25px;
}

.fas{
    color: 8DEABD;
    background-color:white;
    padding: 15px;
    border:1px solid white;
    border-radius: 100px;
    font-size: 25px;
}

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.imgr{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}


#perro_chico{
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 5%;
}


